{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 18px;
  background-color: #f0ebde;
  word-wrap: break-word;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  max-width: 95%;
  margin: 0 auto;
}

.container > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

@media only screen and (min-width:760px) {
  .container {
    max-width: 760px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow-x: scroll;
}

thead {
  background-color: darkolivegreen;
}

td, th, table {
  border: 1px solid #888;
}

tr:nth-child(even) {
  background-color: #bac6a4;
}

tbody > tr:hover {
  background-color: #e1d1a8;
}
