{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  background-color: #f0ebde;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width:760px) {
  .container {
    max-width: 700px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}